* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    line-height: 1.6;
}

h1{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0 60px 0;
}

